{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block header %}
<li><a href="/" class="nav-link px-2 link-dark">Главная</a></li>
<!--<li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
<li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
<li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>-->
<li><a href="/about" class="nav-link px-2 link-secondary">О сайте</a></li>
{% endblock %}


{% block body %}
С помощью данной программы можно находить людей на изображении.
{% endblock %}