{% extends 'base.html' %}

{% block title %} <title>Home</title> {% endblock %}

{% block header %}
<li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
<!--<li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
<li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
<li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>-->
<li><a href="/about" class="nav-link px-2 link-dark">О сайте</a></li>
{% endblock %}


{% block body %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src='images/detected/{{picture}}' class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Распознаватель людей</h1>
        <p class="lead">Загрузите изображение в формате .png, .jpg, .jpeg, .gif и нажмите "Отправить". Найденные люди будут обведены в рамки. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
           <form action enctype="multipart/form-data" method="post">
               <input type="file" name="file" id="selectedFile" style="display: none;" />
               <input type="button" class="btn btn-primary btn-lg px-4 me-md-2" value="Загрузить" onclick="document.getElementById('selectedFile').click();" />
               <input type="submit" class="btn btn-outline-secondary btn-lg px-4" value="Отправить">
           </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}



